<h2 class="underline">{{__SELF__.getAccordion().name}}</h2>
<div id="{{__SELF__.property('elementId')}}" class="row projects_services text-left relative top-xs">
    {% for key, item in __SELF__.getAccordion().items.take(__SELF__.property('maxItems')) %}
        {% partial __SELF__ ~ "::templates/" ~ __SELF__.property('templates') title=item.title content=item.body prefix=item.prefix key=key  %}
    {% endfor %}
</div>

<script>
    function defer(method) {
        if (window.jQuery) {
            method();
        } else {
            setTimeout(function () { defer(method) }, 50);
        }
    }
    defer(function(){
        $(function () {
            $("#{{__SELF__.property('elementId')}}").accordion({
                collapsible: {{__SELF__.property('collapsible')}},
                active: {{__SELF__.property('collapsible')}},
                icons: {
                    header: "{{__SELF__.property('iconsHeader')}}", //"ui-icon-plus",
                    activeHeader: "{{__SELF__.property('iconsHeaderActive')}}", //"ui-icon-minus",
                },
                heightStyle: "{{__SELF__.property('heightStyle')}}"
            });
            $(".accordion-title-predix").removeClass('hide').removeClass('relative').addClass('absolute');
        });
    })
	var width = $(window).width();

	if (width >= 1024) {
		$('.key_1, .key_3, .key_5, .key_7, .key_9, .key_11, .key_13').wrapAll('<div class="col-md-6 col-xs-12" />');
		$('.key_0, .key_2, .key_4, .key_6, .key_8, .key_10, .key_12').wrapAll('<div class="col-md-6 col-xs-12" />');
	}

</script>
